<title>Things to do</title>

<main>
  <div>
    <div class="things-to-do">
      <div>
        <div>All</div>
        {{#categories}}
        <div>{{name}}</div>
        {{/categories}}
      </div>
      {{#pois}}
      <div>
        <div>{{category}}</div>
        <div><img src="{{images.thumbnail}}" alt="{{{title}}}"></div>
        <div><a href="https://www.jet2holidays.com{{url}}">{{{title}}}</a></div>
        <div>{{location.description}}</div>
        <div>{{{summary}}}</div>
      </div>
      {{/pois}}
    </div>
  </div>
</main>
